* {
    box-sizing: border-box;
}

.flex {
    background-color: #eee;
    width: 800px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
}

.flex div {
    background-color: red;
    color: white;
    width: 100px;
    text-align: center;
    padding: 20px;
    margin-right: 5px;
    flex-shrink: 1;
}