* {
    box-sizing: border-box;
}

.flex {
    /* overflow: hidden; */
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

.flex div {
    background-color: red;
    color: white;
    /* float: left; */
    width: calc(98% / 3);
    text-align: center;
    padding: 20px;

}

.float {
    overflow: hidden;
    background-color: #eee;
    width: calc(98% / 3);
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;


}

.float div {
    background-color: red;
    color: white;
    /* float: left; */
    width: calc(94% / 3);
    text-align: center;
    padding: 20px;
    margin-left: 1%;
    margin-right: 1%;
}