div {
    width: 400px;
    height: 300px;
    background-image: linear-gradient();
    background-color: #eee;
    margin: 20px-auto;
    position: relative;
    padding: 10px;
}

div:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    background-color: red;
    height: 10px;
}