.one {
    background-color: red;
    color: white;
}

.two {
    background-color: #eee;
    width: 100px;
    height: 100px;

}

a {
    color: green;
    text-decoration: none;

}

a:hover {
    color: red;
}

.ch:checked {
    display: none;
}

a:visited {
    color: fuchsia;
}

/* :empty {
    border: 15px solid red;
} */
.in:focus {
    border-color: red;
    outline: none;
}